<div>
  <h3>Upload Work Photos</h3>

  <input type="number" [(ngModel)]="vendorId" placeholder="Enter Vendor ID" />
  <br /><br />

  <input type="file" (change)="onFileSelected($event)" multiple />
  <br /><br />

  <button (click)="uploadImages()">Upload</button>
</div>
<div>
  <input type="number" [(ngModel)]="vendorId" placeholder="Enter Vendor ID" />
  <button (click)="getWorkImages()">View Photos</button>
</div>

<table *ngIf="base64Images.length > 0" border="1">
  <tr>
    <th>#</th>
    <th>Image</th>
  </tr>
  <tr *ngFor="let img of base64Images; let i = index">
    <td>{{ i + 1 }}</td>
    <td>
      <img [src]="'data:image/jpeg;base64,' + img" alt="Work Image" width="150" />
    </td>
  </tr>
</table>

