.gradient-bg {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.card{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
}
.custom-card {
  background: rgba(244, 239, 239, 0.51);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  width: 100%;
  max-width: 400px;
}

.brand-name {
  color: #ffd700; /* Gold accent for branding */
  font-weight: bold;
}

/* Keyframe Animation */
@keyframes slideshow {
  0%   { background-image: url('/assets/dark-vendor1.jpeg'); }
  25%  { background-image: url('/assets/dark-vendor2.jpeg'); }
  50%  { background-image: url('/assets/dark-vendor3.jpeg'); }
  75%  { background-image: url('/assets/dark-vendor4.jpeg'); }
  100% { background-image: url('/assets/dark-vendor1.jpeg'); }
}

/* Slideshow container */
.background-slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
  animation: slideshow 20s infinite ease-in-out;
  transition: background-image 1s ease-in-out;
  opacity: 10;
  filter: brightness(40%);
}

/* Foreground container override */
.container {
  position: relative;
  z-index: 2;
}

/* Card Styling */
.custom-card {
  background-color: rgba(75, 82, 87, 0.9);
  color: #fff;
  border: 2px solid #fff;
}
.btn-gradient-vendor {
  background: linear-gradient(to right, #711eca, #22324d); /* Purple to Blue */
  border-radius: 80px;
  transition: transform 0.2s ease-in-out;
}

.btn-gradient-user {
  background: linear-gradient(to right, #22324d, #711eca); /* Orange to Pink */
   border-radius: 80px;
  transition: transform 0.2s ease-in-out;
}

.btn-gradient-vendor:hover,
.btn-gradient-user:hover {
  transform: scale(1.05);
  opacity: 0.9;
  text-decoration: none;
}


